/* 
*   @author: mistletoe
*   @date: 2015-3-1
*   @discription: f-功能 m-模块 u-原件 z-时间 s-皮肤
*				  个人中心模块
*/

body{background:#f2f2f3}

/*用户信息*/
.m-user-info{ background:#eb3341; height:245px; width:100%;}
.m-user-info .m-wrap{ padding:35px 46px 0;}
.m-user-info .m-wrap .m-user-face{ float:left}
.m-user-info .m-wrap .m-user-face p{ font-size:2.6rem; text-align:center; line-height:2; color:#fff}
.m-user-info .m-wrap .u-userface{ width:138px; height:138px; border-radius:10px; border:4px #fff solid;}

.m-user-info .m-wrap .m-user-other{ width:70%; float:right; position:relative}
.m-user-info .m-wrap .m-user-other h3,.m-user-info .m-wrap .m-user-other p{ color:#fff;}
.m-user-info .m-wrap .m-user-other p{ font-size:2.4rem}
.m-user-info .m-wrap .m-user-other h3{ font-size:9rem;}
.m-user-info .m-wrap .m-user-other .u-arr-right{ right:10px; color:#fff; font-size:4rem; position:absolute; top:65px; font-family:'宋体'}

/*图片菜单*/
.m-func-lst{ width:33.33%; height:190px; float:left; background:#fff}
.m-func-lst .m-itm{height:190px;  border-right:1px #b2b2b2 solid; position:relative}
.m-func-lst .u-icon-order,.m-func-lst .u-icon-cash,.m-func-lst .u-icon-code{ background-image:url(../img/user_info_icon.png); background-repeat:no-repeat; width:103px; margin:0 auto; top:20px; position:relative; padding-top:115px}

.m-func-lst p{ text-align:center; font-size:2.6rem}
.m-func-lst .u-icon-order{ background-position:left top;}
.m-func-lst .u-icon-cash{ background-position:center top}
.m-func-lst .u-icon-code{background-position:right top}

/*用户功能列表*/
.m-uc-lst{ background:#fff; margin-top:20px;}
.m-uc-lst ul{}
.m-uc-lst ul li{ height:69px; border-top:1px #b2b2b2 solid; vertical-align:middle; line-height:69px; font-size:3rem; padding:0 20px; color:#5d5d5d; position:relative}

.m-uc-lst ul li a{ color:#5d5d5d;}
.m-uc-lst ul li a.u-btn-more{ font-family:'宋体'; vertical-align:middle; width:14px; height:22px; background:url(../img/arr_icon_right2.png) center center no-repeat; position:absolute; right:20px; top:23px;}
.m-uc-lst ul li:last-child{ border-bottom:1px #b2b2b2 solid}

.m-uc-lst ul li .f1,.m-uc-lst ul li .f2,.m-uc-lst ul li .f3,.m-uc-lst ul li .f4{ background-image:url(../img/user_func_icon.gif); background-repeat:no-repeat; width:39px; height:45px; display:inline-block; vertical-align:middle; margin-right:10px;}
.m-uc-lst ul li .f1{ background-position:left center}
.m-uc-lst ul li .f2{ background-position:-39px center}
.m-uc-lst ul li .f3{ background-position:-78px center}
.m-uc-lst ul li .f4{ background-position:-117px center}



